/* =====================================================
   ! Calendar
   ===================================================== */

#calendarArea {
    padding: 0;
    max-height: 700px;
}

.calendar {
    margin: 0 15px .3em 15px;
}

.datemenu-calendar-column {
    spacing: 0;
    margin: 0;
}

/* =====================================================
   ! Day & Date
   ===================================================== */

.datemenu-today-button {
    margin: 0 6px 2px 6px;
    padding: .7em 12px;

    &:hover, &:focus, &:active {
        background-color: transparent;

        .day-label, .date-label {
            color: $text-link;
            text-decoration: underline;
        }
    }

    .day-label {
        padding-bottom: .2em;
        font-size: 12px;
        color: $text-secondary;
    }

    .date-label {
        text-align: center !important;
        font-size: 18px;
        color: $text-primary;
    }
}

/* =====================================================
   ! World Clocks
   ===================================================== */

.datemenu-displays-box {
    margin: 0 18px;
}

.datemenu-displays-section {
    padding: 0;
    margin: .2em 0 0 0;

    StScrollBar {
        padding: 0;
    }
}

.world-clocks-button {
    color: $text-primary;
    border-radius: 0;
    padding: 0;

    &:hover, &:focus, &:active {
        background-color: transparent !important;

        .world-clocks-header {
            color: $text-link;
            text-decoration: underline;
        }
    }
}

.world-clocks-header {
    color: $text-secondary;
    font-weight: bold;
    font-size: 12px;
}

.world-clocks-grid {
    spacing-rows: .8em;
    padding: .4em 0;
    font-size: 12px;
}

.world-clocks-city {
    font-size: 12px;
    margin: 0;
}

.world-clocks-time {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

/* =====================================================
   ! Change Month Bar
   ===================================================== */

.calendar {
    > StBoxLayout:first-child {
        border-image: url("img/containers/dark-bg.svg") 7;
        padding: 0;
        margin: 1px;
    }
}

.pager-button {
    color: $text-primary;
    background-color: transparent;
    width: 32px;
    border-radius: 0 !important;
    padding: 0;

    &:first-child {
        border-image: url("img/misc/change-month-btn-f.svg") 7;
    }

    &:last-child {
        border-image: url("img/misc/change-month-btn-l.svg") 7;
    }

    &:hover, &:focus, &:active {
        background-color: transparent !important;

        &:first-child {
            border-image: url("img/misc/change-month-btn-f-hover.svg") 7;
        }

        &:last-child {
            border-image: url("img/misc/change-month-btn-l-hover.svg") 7;
        }
    }

    &.calendar-change-month {
        &-back, &-forward:rtl {
            background-image: url("img/controls/calendar-arrow-left.svg");
        }

        &-forward, &-back:rtl {
            background-image: url("img/controls/calendar-arrow-right.svg");
        }

        &-back:hover, &-back:focus,
        &-forward:hover:rtl, &-forward:focus:rtl {
            background-image: url("img/controls/calendar-arrow-left-hover.svg");
        }

        &-forward:hover, &-forward:focus,
        &-back:focus:rtl, &-back:hover:rtl {
            background-image: url("img/controls/calendar-arrow-right-hover.svg");
        }
    }
}

.calendar-month-label {
    color: $text-secondary;
    font-weight: bold;
    padding: .7em;

    &:focus  {
        color: $text-link;
    }
}

/* =====================================================
   ! Calendar
   ===================================================== */

.calendar-day {
}

.calendar-day-base {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 1px;
    padding-left: .2em;
    @include size(2.5em, 2.7em);
}

.calendar-day-heading {
    font-size: inherit;
    color: $text-primary;
    margin-top: 1em;
    height: 2em;

    &:focus {
        background-color: transparent;
        color: $text-link;
    }
}

.calendar-day-top {
}

.calendar-day-left {
}

/*  ! Work Day */

.calendar-work-day {
    border-image: url("img/misc/calendar-work-day.svg") 7;
    border: none;
    color: $text-primary;

    &:hover, &:focus {
        border-image: url("img/misc/calendar-work-day-hover.svg") 7;
    }

    &:active {
        border-image: url("img/misc/calendar-day-active.svg") 7;
        color: $text-primary;
    }

    &.calendar-day-with-events {
        border-image: url("img/misc/calendar-work-day-events.svg") 7;
        background-image: none !important;
        color: $text-primary;

        &:hover, &:focus, &:active {
            border-image: url("img/misc/calendar-day-active-events.svg") 7;
            color: $text-primary;
        }
    }

    &.calendar-today {
        border-image: url("img/misc/calendar-work-day-today.svg") 7;
        color: $text-primary;

        &:hover, &:focus, &:active {
            border-image: url("img/misc/calendar-day-active.svg") 7;
            color: $text-primary;
        }
    }

        &.calendar-day-with-events.calendar-today {
        border-image: url("img/misc/calendar-work-day-today-events.svg") 7;
        color: $text-primary;

        &:hover, &:focus, &:active {
            border-image: url("img/misc/calendar-day-active.svg") 7;
            color: $text-primary;
        }
    }
}

/*  ! Non-work Day */

.calendar-nonwork-day {
    border-image: url("img/misc/calendar-nonwork-day.svg") 7;
    border: none;
    color: $text-secondary;

    &:hover, &:focus {
        border-image: url("img/misc/calendar-nonwork-day-hover.svg") 7;
        color: $text-primary;
    }

    &:active {
        border-image: url("img/misc/calendar-day-active.svg") 7;
        color: $text-primary;
    }

    &.calendar-day-with-events {
        border-image: url("img/misc/calendar-nonwork-day-events.svg") 7;
        background-image: none !important;
        color: $text-primary;

        &:hover, &:focus, &:active {
            border-image: url("img/misc/calendar-day-active-events.svg") 7;
            color: $text-primary;
        }
    }

    &.calendar-today {
        border-image: url("img/misc/calendar-nonwork-day-today.svg") 7;
        color: $text-primary;

        &:hover, &:focus, &:active {
            border-image: url("img/misc/calendar-day-active.svg") 7;
            color: $text-primary;
        }
    }

    &.calendar-day-with-events.calendar-today {
        border-image: url("img/misc/calendar-nonwork-day-today-events.svg") 7;
        color: $text-primary;

        &:hover, &:focus, &:active {
            border-image: url("img/misc/calendar-day-active.svg") 7;
            color: $text-primary;
        }
    }
}

/*  ! Other Month Day */

.calendar-other-month-day {
    border-image: url("img/misc/calendar-other-month-day.svg") 7;
    color: $text-disabled;
    font-weight: normal;

    &:hover, &:focus {
        font-weight: bold;
        color: $text-primary;
    }

    &:active {
        border-image: url("img/misc/calendar-day-active.svg") 7;
        color: $text-primary;
    }

    &.calendar-day-with-events {
        border-image: url("img/misc/calendar-other-month-day-events.svg") 7;
        background-image: none !important;
        color: $text-disabled;

        &:hover, &:focus, &:active {
            border-image: url("img/misc/calendar-day-active-events.svg") 7;
            color: $text-primary;
        }
    }

    &.calendar-today {
        border-image: url("img/misc/calendar-other-month-day-today.svg") 7;
        color: $text-disabled;

        &:hover, &:focus, &:active {
            border-image: url("img/misc/calendar-day-active.svg") 7;
            color: $text-primary;
        }
    }
}

/*  ! Events Day */

.calendar-day-with-events {
    &:hover, &:focus {
        border-image: none;
        background-image: none !important;
        color: $text-primary;
    }
}

/*  ! Today */

.calendar-today {
    &:hover, &:focus {
        border-image: url("img/misc/calendar-hover.svg") 7;
        color: $text-primary;
    }
}

/*  ! Week Number */

.calendar-week-number {
    margin: 0 !important;
    background-color: alpha(#000, 0) !important;

    color: $text-secondary;
    font-size: inherit;
    font-weight: normal;
    @include size(2.4em, 1.6em);
    padding: .9em .4em 0 0;
}

/* =====================================================
   ! Message List
   ===================================================== */

.message-list {
    width: 34em;
    margin: 0;

    &-placeholder {
        StIcon { @include size(0); }

        StLabel {
            color: $text-disabled;
            font-size: 12px;
            font-weight: bold;
        }
    }

    &-sections {
        spacing: 1.5em;
        margin: .6em 15px 1em 15px;
    }

    &-section,
    &-section-list {
        spacing: 0.7em;
    }

    &-section-list:ltr, &-section-list:rtl  {
        padding-left: 0;
        padding-right: 0;
    }

    &-section-title-box {
        spacing: 4em;
        min-height: 16px; // prevent jitter
    }

    &-section-title {
        padding: .1em 0 0 .2em;
        font-weight: bold;
        color: $text-secondary;

        &:hover, &:focus, &:active {
            background-color: transparent !important;
            color: $text-link;
            text-decoration: underline;

        }
    }

    &-section-close {
        margin: 0;
        padding: 0 0 0 30px;

        > StIcon {
            color: $text-secondary;
            icon-size: 16px;
            background-color: transparent !important;
            border-radius: 0 !important;
        }

        &:hover > StIcon,
        &:focus > StIcon {
            background-color: transparent;
            color: $text-danger;
        }
    }

    StScrollBar {
        padding: 8px 0 12px 0;
    }
}

/* =====================================================
   ! Message
   ===================================================== */

.message {
    background-color: transparent !important;
    border-radius: 0;
    margin: 0;
    padding: .2em .2em .2em .6em;

    &:hover {
        background-color: transparent !important;
    }

    &-content {
        spacing: .4em;
        padding: 10px;
        font-size: 12px;

        // the title icon (close, chat-status, etc..)
        > *:first-child StIcon {
            color: $text-danger;
            @include size(16px);
        }
    }

    &-icon-bin {
        padding: 8px 0 8px 8px;
        &:rtl { padding: 8px 8px 8px 0; }

        > StIcon {
            icon-size: 32px;
        }
    }

    &-title {
        font-weight: bold;
        font-size: 12px;
        min-height: 16px; // prevent jitter
    }

    &-body {
    }

    &-secondary-bin {
    }

    .event-time {
        color: $text-secondary;
        font-size: 12px;
    }
}

/*
    notifications
*/
.message-list-section .message {
    border-image: url("img/containers/light-bg-marked-blue.svg") 7;

    &:focus {
        border-image: url("img/containers/hover.svg") 7;
        * { color: $text-primary !important; }
    }
}

/*
    events
*/
.message-list-section:last-child .message {
    border-image: url("img/containers/light-bg-marked-violet.svg") 7;

    &:focus {
        border-image: url("img/containers/hover-violet.svg") 7;
        * { color: $text-primary !important; }
    }
}

/*
    media
*/
.message-list-section:first-child .message {
    border-image: url("img/containers/light-bg-marked-green.svg") 7;

    &:focus {
        background-color: transparent !important;
        border-image: url("img/containers/hover-green.svg") 7;

        * {
            color: $text-primary !important;
        }

        .message-media-control:hover StIcon {
            color: $text-primary-invert !important;
        }
    }

    .message-media-control {
        padding: 6px;

        &:hover StIcon { color: $text-link; }

        &:last-child:ltr { padding-right: 18px; }
        &:last-child:rtl { padding-left: 18px; }
    }

    .media-message-cover-icon {
        icon-size: 32px;

        &.fallback {
            background-color: rgba(0, 0, 0, 0);
            border-radius: 0;
            padding: 0;
            border: 0;
            color: $text-primary;
            icon-size: 32px;
        }
    }
}

