/* =====================================================
   ! Looking Glass
   ===================================================== */

/* Dialog when picker is active is targeted with an id
   because it only has an id
   The main dialog has the same id and the "lg-dialog" class
*/

#LookingGlassDialog {
    border-image: url("img/containers/popup-osd.svg") 7;
    font-weight: bold;
    font-size: 14px;
    padding: 16px;
    color: $text-primary;
}


/* Main dialog */

.lg-dialog {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0 transparent !important;
    border-radius: 0;

    border-image: url("img/containers/popup.svg") 7 !important;
    font-weight: normal !important;
    font-size: 12px !important;
    spacing: 4px;
    margin: 2px;
    padding: 16px 12px 16px 24px !important;
    color: $text-primary;


    * {
        font-family: $font-family;
        transition-duration: 0ms;
    }


    #Toolbar {
        border: 0 transparent !important;
        border-radius: 0 !important;
        padding: 0 14px 4px 8px;

        StIcon {
            margin: 0 10px;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }

        .labels {
            spacing: 0;
        }

        .notebook-tab {
            @include btn-linked-primary;

            padding: 0;
            -natural-hpadding: 12px;
            -minimum-hpadding: 6px;
            StButton { padding: 10px 14px; }
        }
    }


    StScrollBar {
        padding: 0 0 4px 1px;
    }


    #EvalBox {
        color: $text-primary;
        padding: 0 4px 4px 0;
        spacing: 8px;
    }


    #ResultsArea {
        color: $text-primary;
        padding: 0 0 14px 0;
        spacing: 8px;

        > StBoxLayout {
            padding: 10px 10px 10px 14px;
            border-image: url("img/containers/light-bg-marked-blue.svg") 10;
            font-size: 12px;
            spacing: 1em;
        }
    }


    #Windows {
        color: $text-primary;
        padding: 0 4px 4px 0;
        spacing: 8px;

        > StBoxLayout {
            padding: 10px 10px 10px 14px;
            border-image: url("img/containers/light-bg-marked-green.svg") 10;
            font-size: 12px;
            spacing: 1em;

            StButton:first-child {
                font-size: 16px;
            }
        }
    }


    #lookingGlassExtensions {
        padding: 0 4px 4px 0;

        .lg-extensions-list {
            padding: 0;
            spacing: 8px;
        }

        .lg-extensions-none {
            font-size: 16px;
            color: $text-secondary;
        }

        .lg-extension {
            border: 0  transparent !important;
            border-radius: 0 !important;
            border-image: url("img/containers/light-bg-marked-violet.svg") 7;
            padding: 10px 10px 10px 14px;
            color: $text-primary;
            spacing: .8em;

            &-name {
                color: $text-primary;
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 2px;
            }

            &-description {
                font-size: 12px;
            }

            &-meta {
                spacing: 6px;
                font-size: 12px;
            }

            &-state {
                font-weight: bold;
                color: $text-info;
            }
        }
    }


    #EntryArea {
        StLabel {
            font-size: 0;
            width: 0;
        }

        StEntry {
            selection-background-color: $accent-primary;
            selected-color: $text-primary;
        }
    }


    #LookingGlassAutoCompletionText {
        padding: 0 1em;
    }
}


/* Lg Inspector */

/* This box has no id's or classes and is
   the direct child of the global container

   We assume that there is no
   uiGroup > StScrollView used elsewhere
*/

#uiGroup {
    > StScrollView {
        border-image: url("img/containers/popup.svg") 7;
        padding: 6px;

        StScrollBar {
            padding: 12px 6px 12px 3px;
        }
    }
}

#LookingGlassPropertyInspector {
    border-image: none !important;
    background: transparent;
    border: 0 transparent;
    border-radius: 0;

    color: $text-primary;
    spacing: 0;
    padding: 0 !important;

    > StBoxLayout {
        padding: 6px 14px;

        &:first-child {
            padding: 10px;
            margin: 10px 0 10px 10px;
            border-image: url("img/containers/light-bg.svg") 10;
        }
    }

    .window-close {
        background-image: url("img/controls/close-simple.svg");
        background-size: 24px;
        @include size(24px);

        &:hover {
            background-image: url("img/controls/close-simple-hover.svg");
        }
    }

    .lg-obj-inspector-title {
        color: $text-primary;
        font-size: 14px;
        font-weight: bold;
        spacing: 4px;
    }

    .lg-obj-inspector-button {
        @include btn-primary;
        @include btn-width(small);
    }
}
