/* =====================================================
   ! Modal dialogs
   ===================================================== */

/* Dialog Subject Text Style */
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: $text-primary;
}

.headline {
    font-size: 12pt;
    font-weight: bold;
}

.modal-dialog {
    border-image: url("background-assets/popup.svg") 9;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0 transparent !important;
    border-radius: 0;
    color: $text-primary;
    padding: 0;

    &-content-box {
        padding: 24px !important;
        border-radius: 0;
    }

    > *:last-child {
        spacing: 0;
        margin: 0;
        padding: 0 3px 0 3px;
    }
}

.modal-dialog-linked-button {
    @include btn-dialog-linked-primary;
}
