@mixin entry($t, $width: null ) {
    @if $t==normal {
        background-gradient-direction: none;
        background-gradient-start: rgba(0, 0, 0, 0);
        background-gradient-end: rgba(0, 0, 0, 0);
        box-shadow: 0 0 rgba(0, 0, 0, 0);
        border-radius: 0;
        border: 0;

        border-image: url("control--widgets/entry.svg") 6;
        padding: .5em !important;
        min-height: 1.2em;
        width: $width;
        font-size: 10pt;
        font-weight: normal;
        color: $text-secondary;

        StIcon {
            color: $text-primary;
            icon-size: 16px;

            &.capslock-warning {
                color: $text-warning !important;
            }
        }
    }

    @else if $t==focus {
        border-image: url("control--widgets/entry-focused.svg") 6;
        font-size: 10pt;
        font-weight: bold;
        padding: .5em !important;
        min-height: 1.2em;
        width: $width;
        color: $text-primary;
        caret-color: $text-primary;
        caret-size: 1px;
        selected-color: $text-primary;
        selection-background-color: $accent-primary;

        StIcon {
            color: $text-primary;
        }
    }

    @else if $t==insensitive {
        border-image: url("control--widgets/entry-insensitive.svg") 6;
        width: $width;
        color: $text-secondary;

        StIcon {
            color: $text-secondary;
        }
    }

    @else if $t==normal--dark {
        border-image: url("overview--widgets/overview-dark-bg.svg") 7;
        border-radius: 0;
        padding: .6em !important;
        min-height: 1.3em;
        width: $width;
        color: $text-secondary;
        font-size: 10pt;

        > * {
            margin-bottom: 1px;
        }

        StIcon {
            icon-size: 16px;
            padding: 0 4px;
            color: $text-secondary;
        }

        &:hover StIcon {
            color: $text-secondary;
        }
    }

    @else if $t==focus--dark {
        border-width: 0;

        border-image: url("overview--widgets/overview-light-bg.svg") 7;
        padding: .6em !important;
        min-height: 1.3em;
        width: $width;
        color: $text-primary;
        caret-color: $text-primary;
        caret-size: 1px;
        selected-color: $text-primary;
        selection-background-color: $accent-primary;
        font-weight: bold;
        font-size: 10pt;

        StIcon {
            color: $text-primary;
        }

        &:hover StIcon {
            color: $text-primary;
        }
    }
}
/* =====================================================
   ! Entries
   ===================================================== */

/* ! Standard light entries */
StEntry,
.popup-menu .search-entry {
    @include entry(normal);

    &:focus { @include entry(focus); }

    &:insensitive { @include entry(insensitive); }
}


/* ! Search entry in overview */
.search-entry {
    @include entry(normal--dark, $width: 320px);

    &:focus { @include entry(focus--dark, $width: 320px); }
}
