/* =====================================================
   ! Aggregate Menu
   ===================================================== */

.system-switch-user-submenu-icon {
    border: 0 solid transparent !important;
    padding: 0;

    &.user-icon,
    &.default-icon {
        icon-size: 16px;
    }
}

.aggregate-menu {
    min-width: 21em;

    .popup-menu-icon { padding: 0; }
}

.system-menu-action {
    color: $text-primary;
    border-radius: 0;
    padding: 10px;
    border: 0 solid transparent !important;

    &:hover, &:focus, &:active {
        color: $text-primary;
        border-radius: 0;
        padding: 10px;
        border: 0 solid transparent !important;
        border-image: url("background-assets/hover.svg") 6;
    }

    > StIcon { icon-size: 16px; }
}
