/* ===================================================================
   ! Login and Lock Screen
   ===================================================================*/

#lockDialogGroup {
  background: #303030 url(resource:///org/gnome/shell/theme/overview-pattern.svg);
  background-repeat: repeat;
}

/* Auth Dialogs & Screen Shield */
.framed-user-icon {
  border-image: url(resource:///org/gnome/shell/theme/overview-dark-bg.svg) 6;
  background-size: contain;
  color: #fff;
}

.framed-user-icon:hover {
  color: #fff;
}

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em;
}

.login-dialog {
  border: none;
  background-color: transparent;
}

.login-dialog-logo-bin {
  padding: 24px 0;
}
.login-dialog-banner {
  color: #fff;
}

.login-dialog-message-warning {
  color: #e76d00;
}

.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20px;
}

.login-dialog-user-selection-box {
  padding: 100px 0px;
}

.login-dialog-user-selection-box .login-dialog-not-listed-label {
  padding-left: 2px;
}

.login-dialog-not-listed-button:focus .login-dialog-user-selection-box .login-dialog-not-listed-label,
.login-dialog-not-listed-button:hover .login-dialog-user-selection-box .login-dialog-not-listed-label {
  color: #eeeeec;
}

.login-dialog-not-listed-label {
  font-size: 9pt;
  font-weight: normal;
  color: rgba(255, 255, 255, .3);
  padding-top: 1em;
}

/*--- User List ---*/

.login-dialog-user-list-view {
  -st-vfade-offset: 0;
  max-height: 600px;
}

.login-dialog-user-list-view StScrollBar {
  padding: 0 0 0 6px;
}

.login-dialog-user-list-view StButton#vhandle,
.login-dialog-user-list-view StButton#hhandle {
  border-image: url(resource:///org/gnome/shell/theme/overview-scroll-handle.svg) 6;
}

.login-dialog-user-list-view StButton#vhandle:hover,
.login-dialog-user-list-view StButton#hhandle:hover,
.login-dialog-user-list-view StButton#vhandle:focus,
.login-dialog-user-list-view StButton#hhandle:focus,
.login-dialog-user-list-view StButton#vhandle:active,
.login-dialog-user-list-view StButton#hhandle:active {
  border-image: url(resource:///org/gnome/shell/theme/overview-scroll-handle-hover.svg) 6;
}

.login-dialog-user-list {
  spacing: 12px;
  padding: 0;
  width: 23em;
}

.login-dialog-user-list-item {
  border-image: url(resource:///org/gnome/shell/theme/overview-dark-bg.svg) 6;
  padding: 2px 2px 0 2px;
  color: #fff;
}

.login-dialog-user-list-item:hover {
  border-image: url(resource:///org/gnome/shell/theme/overview-light-bg.svg) 6;
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
  border-image: url(resource:///org/gnome/shell/theme/overview-light-bg.svg) 6;
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
  border-image: url(resource:///org/gnome/shell/theme/user-logged-in.svg) 6;
}

.login-dialog-user-list-item .framed-user-icon {
  border-image: none;
  margin: 0;
  padding: 0;
}

.login-dialog-user-list-item:ltr {
  padding-right: 1em;
}

.login-dialog-user-list-item:rtl {
  padding-left: 1em;
}

.login-dialog-user-list-item .login-dialog-timed-login-indicator {
  height: 2px;
  margin: 0;
  background-color: #83a7c7;
}

.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
  background-color: #ffffff;
}

.login-dialog-username,
.user-widget-label {
  color: #fff;
  font-size: 10pt;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

.user-widget-label:ltr {
  padding-left: 18px;
}

.user-widget-label:rtl {
  padding-right: 18px;
}

.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em;
}

.login-dialog-prompt-label {
  color: rgba(255, 255, 255, .65);
  font-size: 9pt;
  padding-top: 1em;
}

.login-dialog-session-list-button StIcon {
  icon-size: 16px;
  color: rgba(255, 255, 255, .65)
}

.login-dialog-session-list-button:hover,
.login-dialog-session-list-button:focus,
.login-dialog-session-list-button:active,
.login-dialog-session-list-button:active StIcon,
.login-dialog-session-list-button:hover StIcon,
.login-dialog-session-list-button:focus StIcon {
  color: #fff;
}

/*--------login buttons----------*/


.login-dialog .modal-dialog-button-box {
    spacing: 3px;
}

.login-dialog .modal-dialog-button:default,
.login-dialog .modal-dialog-button {
    border-image: url("resource:///org/gnome/shell/theme/overview-button.svg") 10;
    padding: 10px 30px;
    -st-natural-width: 30px;
    font-weight: bold;
    color: #fff;
}

.login-dialog .modal-dialog-button:default:hover,
.login-dialog .modal-dialog-button:hover {
    border-image: url("resource:///org/gnome/shell/theme/overview-button-hover.svg") 10;
}

.login-dialog .modal-dialog-button:default:focus,
.login-dialog .modal-dialog-button:focus {
    border-image: url("resource:///org/gnome/shell/theme/overview-button-focused.svg") 10;
}

.login-dialog .modal-dialog-button:default:active,
.login-dialog .modal-dialog-button:default:pressed,
.login-dialog .modal-dialog-button:active,
.login-dialog .modal-dialog-button:pressed {
    border-image: url("resource:///org/gnome/shell/theme/overview-button-pressed.svg") 10;
}

.login-dialog .modal-dialog-button:default:focus:hover,
.login-dialog .modal-dialog-button:focus:hover {
    border-image: url("resource:///org/gnome/shell/theme/overview-button-focused-hover.svg") 10;
}

.login-dialog .modal-dialog-button:default:focus:active,
.login-dialog .modal-dialog-button:default:focus:pressed,
.login-dialog .modal-dialog-button:focus:active,
.login-dialog .modal-dialog-button:focus:pressed {
    border-image: url("resource:///org/gnome/shell/theme/overview-button-focused-pressed.svg") 10;
}

.login-dialog .modal-dialog-button:default:insensitive,
.login-dialog .modal-dialog-button:insensitive {
    border-image: url("resource:///org/gnome/shell/theme/overview-button-insensitive.svg") 10;
    color: rgba(255, 255, 255, .3);
}

/*--- Login Entry ---*/

.login-dialog StEntry {
    border-image: url("resource:///org/gnome/shell/theme/overview-dark-bg.svg") 6;
    padding: 6px 8px;
    height: 22px;
    width: 220px;
    font-size: 10pt;
    font-weight: normal;
    color: rgba(255, 255, 255, .65);
    transition-duration: 0ms;
}

.login-dialog StEntry:focus  {
    border-image: url("resource:///org/gnome/shell/theme/overview-entry-pressed.svg") 6;
    font-size: 10pt;
    font-weight: bold;
    color: rgba(0, 0, 0, .65);
    caret-color: rgba(0, 0, 0, .65);
    caret-size: 1px;
    selected-color: #fff;
    selection-background-color: #83a7c7;
}

/*--- Screen Shield ---*/


.screen-shield-background {
  background: #666;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .65);
}

.screen-shield-contents-box {
  border-image: url("resource:///org/gnome/shell/theme/popup.svg") 7;
  padding: 16px;
  spacing: 20px;
}

.screen-shield-arrows {
    background-image: url("resource:///org/gnome/shell/theme/lock.svg");
    padding-bottom: 2.8em;
}

.screen-shield-arrows Gjs_Arrow {
  color: transparent;
  width: 24px;
  height: 24px;
  -arrow-thickness: 12px;
  -arrow-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.screen-shield-clock {
  font-weight: normal;
  text-align: center;
}

.screen-shield-clock-time {
  color: rgba(0, 0, 0, .65);
  font-size: 36pt;
}

.screen-shield-clock-date {
  color: rgba(0, 0, 0, .4);
  font-size: 16pt;
  padding: 0 10px;
}

.screen-shield-notifications-container {
  spacing: 6px;
  min-width: 30em;
  background-color: transparent;
  max-height: 500px;
}

.screen-shield-notifications-container .summary-notification-stack-scrollview {
  padding-top: 0;
  padding-bottom: 0;
}

.screen-shield-notifications-container .notification,
.screen-shield-notifications-container .screen-shield-notification-source {
  padding: 12px;
  border-image: url("resource:///org/gnome/shell/theme/light-bg.svg") 6;
  color: rgba(0, 0, 0, .65);
  font-family: Droid Sans, sans-serif;
}

.screen-shield-notification-label {
  font-weight: bold;
  padding: 2px 0 0 12px;
}

.screen-shield-notification-count-text {
  padding: 0 0 0 12px;
}

#screenShieldNotifications StScrollBar {
  padding: 0 0 0 6px;
}

#screenShieldNotifications StButton#vhandle, #screenShieldNotifications StButton#hhandle {
  border-image: url("resource:///org/gnome/shell/theme/scroll-handle.svg") 4;
}

#screenShieldNotifications StButton#vhandle:hover, #screenShieldNotifications StButton#vhandle:focus, #screenShieldNotifications StButton#hhandle:hover, #screenShieldNotifications StButton#hhandle:focus {
  border-image: url("resource:///org/gnome/shell/theme/scroll-handle-hover.svg") 4;
}

#screenShieldNotifications StButton#vhandle:active, #screenShieldNotifications StButton#hhandle:active {
  border-image: url("resource:///org/gnome/shell/theme/scroll-handle-hover.svg") 4;
}
