/* =====================================================
   ! Looking Glass
   ===================================================== */

/* Dialog when picker is active is targeted with an id
   because it only has an id
   The main dialog has the same id and the "lg-dialog" class
*/

#LookingGlassDialog {
    border-image: url("background-assets/popup-outside.svg") 7;
    font-weight: bold;
    font-size: 10pt;
    padding: 16px;
    color: $text-primary;
}


/* Main dialog */

.lg-dialog {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0 transparent !important;
    border-radius: 0;

    border-image: url("background-assets/popup.svg") 7 !important;
    font-weight: normal !important;
    font-size: 9pt !important;
    spacing: 4px;
    padding: 16px;
    color: $text-primary;


    * {
        font-family: $font-family;
        transition-duration: 0ms;
    }


    #Toolbar {
        border: 0 transparent !important;
        border-radius: 0 !important;
        padding: 0 16px 4px 8px;

        .labels {
            spacing: 0;
        }

        .notebook-tab {
            @include btn-linked-primary;

            padding: 0;
            -natural-hpadding: 12px;
            -minimum-hpadding: 6px;
            StButton { padding: 10px 14px; }
        }
    }


    StScrollBar {
        padding: 3px 0;
    }


    #EvalBox {
        color: $text-primary;
        padding: 0 4px 0 0;
        spacing: 8px;
    }


    #ResultsArea {
        color: $text-primary;
        padding: 4px 0 14px 0;
        spacing: 8px;

        > StBoxLayout {
            padding: 10px 10px 10px 14px;
            border-image: url("background-assets/light-bg-marked-blue.svg") 10;
            font-size: 9pt;
            spacing: 1em;
        }
    }


    #Windows {
        color: $text-primary;
        padding: 4px 4px 4px 0;
        spacing: 8px;

        > StBoxLayout {
            padding: 10px 10px 10px 14px;
            border-image: url("background-assets/light-bg-marked-green.svg") 10;
            font-size: 9pt;
            spacing: 1em;

            StButton:first-child {
                font-size: 12pt;
            }
        }
    }


    #lookingGlassExtensions {
        padding: 0 4px 0 0;

        .lg-extensions-list {
            padding: 4px 0;
            spacing: 8px;
        }

        .lg-extensions-none {
            font-size: 12pt;
            color: $text-secondary;
        }

        .lg-extension {
            border: 0  transparent !important;
            border-radius: 0 !important;
            border-image: url("background-assets/light-bg-marked-violet.svg") 7;
            padding: 10px 10px 10px 14px;
            color: $text-primary;
            spacing: .8em;

            &-name {
                color: $text-primary;
                font-size: 12pt;
                font-weight: bold;
                padding-bottom: 2px;
            }

            &-description {
                font-size: 9pt;
            }

            &-meta {
                spacing: 6px;
                font-size: 9pt;
            }

            &-state {
                font-weight: bold;
                color: $text-warning;
            }
        }
    }


    #EntryArea {
        StLabel {
            margin-top: 6px;
        }

        StEntry {
            selection-background-color: $accent-primary;
            selected-color: $text-primary-invert;
        }
    }
}


/* Lg Inspector */

#LookingGlassPropertyInspector {
    border-image: url("background-assets/popup.svg") 7;
    background: transparent;
    border: 0 transparent;
    border-radius: 0;

    color: $text-primary;
    spacing: .4em;
    padding: 4px 4px 16px 4px;

    StScrollBar {
        margin-right: 20px;
        padding: 0;
    }

    > StBoxLayout {
        padding: 6px 14px;

        &:first-child {
            padding: 10px;
            margin: 10px;
            border-image: url("background-assets/light-bg.svg") 10;
        }
    }

    .window-close {
        background-image: url("widget-assets/close-simple.svg");
        background-size: 24px;
        @include size(24px);

        &:hover {
            background-image: url("widget-assets/close-simple-hover.svg");
        }
    }

    .lg-obj-inspector-title {
        color: $text-primary;
        font-size: 10pt;
        font-weight: bold;
        spacing: 4px;
    }

    .lg-obj-inspector-button {
        @include btn-primary;
        @include btn-width(small);
    }
}
