/* =====================================================
   ! OSD
   ===================================================== */

.osd-window {
    text-align: center;
    font-weight: bold;
    color: $text-primary;
    spacing: 1em;
    padding: 18px;
    margin: 32px;
    min-width: 48px;
    min-height: 48px;
    border-image: url("background-assets/popup.svg") 7;

    StIcon { color: $text-primary; }
}

.osd-window .osd-monitor-label {
    font-size: 5em;
    padding-top: 0;
}

.osd-window .level {
    border-radius: 0 !important;
    border-image: url("widget-assets/slider-OSD.svg") 9 6 8 8;
    color: $accent;
    height: 4px;
    padding: 6px 5px;
}

.resize-popup  {
    border-image: url("overview-assets/overview-dark-bg.svg") 7;
    color: $text-primary;
    font-weight: bold;
    font-size: 10pt;
    padding: 8px;
    background-color: transparent !important;
    border: 0 solid rgba(0, 0, 0, 0) !important;
    border-radius: 0 !important;
}
