/* =====================================================
   ! Popup Menus
   ===================================================== */

.popup-menu {
    padding: 3px;
    min-width: 100px;

    > * > * > * {
        border-image: url("background-assets/popup-inside.svg") 9;
    }

    &-boxpointer {
        padding: 0;
        -arrow-border-radius: 0;
        -arrow-background-color: alpha(#131619, .9);
        -arrow-border-color: rgba(0, 0, 0, .9);
        -arrow-border-width: 1px;
        -arrow-base: 12px;
        -arrow-rise: 6px;
        -boxpointer-gap: 0;
    }


    &-content {
        padding: .7em .2em;
        color: $text-primary;
    }

    &-ornament {
        text-align: right;
        width: 1em;
        color: $link;
    }

    &-arrow {
        @include size(14px);
        padding: 0;
        color: $text-primary;
    }

    &-icon {
        icon-size: 16px;
        color: $text-primary !important;
    }

    &-item {
        spacing: 0;

        // ugly fix for the ornament spacing
        &:ltr {
            padding: .5em 1em .5em 0;
            > * { margin: 0 .6em 0 0; }
            .popup-menu-ornament { margin: 0 .2em 0 .2em !important; }
        }

        &:rtl {
            padding: .5em 0 .5em 1em;
            > * { margin: 0 0 0 .6em; }
            .popup-menu-ornament { margin: 0 .2em 0 .2em !important; }
        }

        &:checked {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 0 0 rgba(0, 0, 0, 0);
            font-weight: normal;
        }

        &:active,
        &.selected {
            border-image: url("background-assets/hover-popup.svg") 9;
            color: $text-primary;
        }

        &:insensitive {
            font-weight: normal;
            color: $text-disabled;
        }
    }

    .popup-inactive-menu-item {
        color: $text-primary;

        &:insensitive { color: $text-disabled; }
    }

    .popup-status-menu-item {
        color: $text-secondary;
    }

    &:active .popup-status-menu-item,
    &.selected .popup-status-menu-item {
        color: $text-primary;
    }

    &.panel-menu {
        -boxpointer-gap: 3px;
    }
}

.popup-sub-menu {
    border-image: url("background-assets/submenu-bg.svg") 7;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
    padding: 12px 0;

    .popup-status-menu-item {
        color: $text-secondary;
    }

    .popup-menu-item:active,
    .popup-menu-item.selected {
        border-image: url("background-assets/hover-popup.svg") 9;
        color: $text-primary;
    }
}

.popup-separator-menu-item {
    background-image: url("misc-assets/separator.svg");
    background-repeat: repeat;
    height: 13px;
    margin: 0;
    border: 0 solid transparent;
}

/* right-click on desktop */
.background-menu {
    -boxpointer-gap: 0;
    -arrow-rise: 0;
}

/*.window-menu {
    .popup-menu-content {
    }
}*/
