/* ======================================
 * ! Dash
 * ====================================== */

#dash {
    border-image: url("img/overview/overview-dark-bg-left.svg") 7;
    font-size: $font-size-base;
    padding: 4px 0;
    background-color: transparent !important;
    border: 0 transparent !important;
    border-radius: 0 !important;

    &:rtl {
        border-image: url("img/overview/overview-dark-bg-right.svg") 7;
        border-radius: 0;
    }

    .placeholder {
        background-image: none;
        @include size(16px);
    }

    .empty-dash-drop-target {
        @include size(24px);
    }
}

.dash-label {
    border-image: url("img/overview/overview-dark-bg.svg") 7;
    padding: 4px 10px;
    -x-offset: 8px;
    color: $text-primary;
    font-weight: bold;
    text-align: center;
    background-color: transparent !important;
    border-radius: 0 !important;
}

/* ======================================
 * ! Dash Icons
 * ====================================== */

.show-apps-icon { color: $text-primary; }

.overview-icon {

    .show-apps &,
    .dash-item-container .app-well-app & {
        background-color: transparent !important;
        box-shadow: 0 0 transparent !important;
        border: 0 transparent !important;
        border-radius: 0 !important;
        transition-duration: 0ms !important;
        padding: 9px !important;
    }

    .show-apps:hover &,
    .show-apps:focus &,
    .show-apps:active &,
    .dash-item-container .app-well-app:hover &,
    .dash-item-container .app-well-app:focus &,
    .dash-item-container .app-well-app:selected &,
    .dash-item-container .app-well-app:active &,
    .dash-item-container .app-well-app:checked & {
        border-image: url("img/overview/overview-light-bg.svg") 7;
    }

    .show-apps:checked &,
    .show-apps:selected & {
        border-image: url("img/overview/overview-highlight-bg.svg") 7;
    }
}

.dash-item-container > StWidget {
    padding: 2px 6px;
}

/* ======================================
 * ! Dash-to-Dock extension
 * ====================================== */

#dashtodockContainer {
    .app-well-app-running-dot { @include size(0); }

    &.left {
        #dash { padding: 0; }

        .dash-item-container > * { padding: 0 0 3px 0; }

        .show-apps,
        .app-well-app > * { padding: 0 0 0 2px; }
    }

    &.right {
        #dash { padding: 0; }

        .dash-item-container > * { padding: 0 0 3px 0; }

        .show-apps,
        .app-well-app > * { padding: 0 2px 0 0; }
    }

    &.top {
        #dash { padding: 0; }

        .dash-item-container > * { padding: 0 3px 0 0; }

        .show-apps,
        .app-well-app > * { padding: 2px 0 0 0; }
    }

    &.bottom {
        #dash { padding: 0; }

        .dash-item-container > * { padding: 0 3px 0 0; }

        .show-apps,
        .app-well-app > * { padding: 0 0 2px 0; }
    }
}

@each $d in left, right, top, bottom {
@each $c in 1, 2, 3, 4 {
    #dashtodockContainer.#{$d} {
        #dash {
            border-image: url("img/overview/dash-bg__#{$d}.svg") 7;
        }

        &.extended #dash {
            border-image: url("img/overview/dash-bg__#{$d}--extended.svg") 7;
        }

        .app-well-app {
            &:hover > * {
                border-image: url("img/overview/app-indicator--hover--#{$d}.svg") 14;
            }

            &.running#{$c} {
                &.focused .overview-icon {
                    border-image: url("img/overview/overview-light-bg.svg") 7;
                }

                > * {
                    border-image: url("img/overview/app-indicator__#{$c}--#{$d}.svg") 14 !important;
                }
            }
        }

        .show-apps {
            &:hover {
                border-image: url("img/overview/app-indicator--hover--#{$d}.svg") 14;
            }

            &:checked {
                border-image: url("img/overview/app-indicator__1--#{$d}.svg") 14;
            }
        }
    }
}
}
