/* ======================================
 * ! Search Results
 * ====================================== */

.search-entry {
    @include entry(overview--normal, $width: 320px);

    &:focus { @include entry(overview--focus, $width: 320px); }
}

#searchResults {
    padding: 10px;
    spacing: 0;
    > * > * { padding: 0; }
}

#searchResultsBin {
    max-width: 1000px;
}

#searchResultsContent {
    padding-left: 20px;
    padding-right: 20px;
    spacing: 0;
}

.search-statustext {
    color: $text-secondary;
    font-size: $font-size-xxl;
    font-weight: bold;
}

/* This should be equal to '#searchResultsContent' spacing */
.search-section {
    spacing: 16px;
}

.search-section-separator {
    height: 0 !important;
    -margin-horizontal: 1.5em;
    -gradient-height: 0;
}

/* Space between the provider icon and the results container */
.search-section-content {
    spacing: 0;
    padding: 0;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0);
    border: none;
    color: $text-primary;
    border-image: url("img/overview/overview-light-bg.svg") 6;
}

.search-display {
    StScrollBar {
        min-height: 10px;
        min-width: 10px;

        StButton#vhandle,
        StButton#hhandle {
            border-image: url("img/controls/overview-scroll-handle.svg") 5;

            &:hover, &:focus, &:active {
                border-image: url("img/controls/overview-scroll-handle-hover.svg") 5;
            }
        }
    }
}
/* ======================================
 * ! List Search Results
 * ====================================== */

.list-search-results {
    spacing: 0;
    padding: 0;
    border-image: url("img/overview/search-list-border-left.svg") 6;
}

.list-search-result {
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid transparent;
    border-radius: 0;
    padding: 0;
    spacing: 0;
    transition-duration: 0ms !important;
    text-align: center;
    border-image: url("img/overview/search-list-border-bottom.svg") 6;

    &:hover, &:focus, &:active {
        border-image: url("img/overview/search-list-hover.svg") 6;
    }

    &:last-child {
        border-image: none;

        &:hover, &:focus, &:selected, &:active {
            border-image: url("img/overview/search-list-hover-last-child.svg") 6;
        }
    }

    &:first-child {
        &:hover, &:focus, &:selected, &:active {
            border-image: url("img/overview/search-list-hover-first-child.svg") 6;
        }
    }
}

.list-search-result-content {
    spacing: 12px;
    padding: 14px;
    min-height: 64px;
}

.list-search-result-title {
    text-shadow: 0 0 rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: $font-size-xl;
    color: $text-primary;
    padding-bottom: 5px;

    .list-search-result:hover &,
    .list-search-result:focus &,
    .list-search-result:selected &,
    .list-search-result:pressed &,
    .list-search-result:active & {
        color: $text-primary;
    }
}

.list-search-result-description {
    text-shadow: 0 0 rgba(0, 0, 0, 0);
    font-weight: normal;
    font-size: $font-size-base;
    color: $text-primary;

    .list-search-result:hover &,
    .list-search-result:focus &,
    .list-search-result:selected &,
    .list-search-result:pressed &,
    .list-search-result:active & {
        color: $text-primary;
    }
}
/* ======================================
 * ! Search Provider Icon
 * ====================================== */

.search-provider-icon-more {
    @include size(48px);
    background-image: url("img/overview/search-provider-overlay.svg");
}

.search-provider-icon {
    border: 0 transparent;
    border-radius: 0;
    transition-duration: 0ms !important;
    @include size(64px);
    padding: 14px;

    &:hover, &:focus, &:selected, &:active {
        border-image: url("img/overview/search-provider-hover.svg") 6;
    }
}
