// Accent colors
$accent-primary: #6A98D2;
$accent-success: #40BA75;
$accent-info:    #9B75FF;
$accent-warning: #FFA44F;
$accent-danger:  #E66464;


// Text color
$text-primary:   alpha(#fff, 1);
$text-secondary: alpha(#fff, .45);
$text-disabled:  alpha(#fff, .15);

$text-primary-invert:   alpha(#000, .75);
$text-secondary-invert: alpha(#000, .45);
$text-disabled-invert:  alpha(#000, .2);

$text-link:    saturate(lighten($accent-primary, 7%), 25%);
$text-success: saturate(lighten($accent-success, 5%),  1%);
$text-info:    saturate(lighten($accent-info,    3%), 30%);
$text-warning: saturate(lighten($accent-warning, 2%), 20%);
$text-danger:  saturate(lighten($accent-danger,  2%), 20%);
