// Accent colors
$accent-primary: #7998b3;
$accent-info:    #9574b8;
$accent-warning: #e8a05f;
$accent-danger:  #e86b6b;


// Text colors
$text-primary:   alpha(#fff, 1);
$text-secondary: alpha(#fff, .45);
$text-disabled:  alpha(#fff, .15);

$text-primary-invert:   alpha(#000, .75);
$text-secondary-invert: alpha(#000, .45);
$text-disabled-invert:  alpha(#000, .2);

$text-info:    saturate(lighten($accent-info, 14%), 20%);
$text-warning: saturate($accent-warning, 14%);
$text-danger:  saturate($accent-danger, 14%);


// Link colors
$link: $accent-primary;
