/* =====================================================
 * ! Overview Background
   ===================================================== */
#overview {
    background-color: rgba(0, 0, 0, .55);
    background: #333 url("overview--widgets/overview-pattern.svg");
    background-repeat: repeat;
    spacing: 24px;
}
